[submodule "libBigWig"]
	path = libBigWig
	url = https://github.com/dpryan79/libBigWig
[submodule "bonsai"]
	path = bonsai
	url = https://github.com/dnbaker/bonsai
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt/
